/*      base reset ----------------------------- */
html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  box-sizing: border-box;
  border-collapse: collapse;
}

body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;

  --font-mono: "Fira Mono", monospace;
  --nav-h: 58px;
  --nav-h-border: 1px;
}

/*      theme vars */
.theme-default {
  --back: #ffffff;
  --back-light: #f6fafd;
  --back-api: #eff8ff;
  --prime: #ff3e00;
  --second: #676778;
  --flash: #40b3ff;
  --heading: var(--second);
  --text: #444;
  --sidebar-text: rgba(255, 255, 255, 0.75);
  --border-w: 0.3rem; /* border-width  */
  --border-r: 0.4rem; /* border-radius */
}

/*      typo vars */
.typo-default {
  --code-fs: 1.3rem;
  --h6: 1.4rem;
  --h5: 1.6rem;
  --h4: 1.8rem; /* default font-size */
  --h3: 2.6rem;
  --h2: 3rem;
  --h1: 3.2rem;
  --linemax: 42em; /* max line-length */
  --lh: 1.5; /* base line-height */
}

/* sync CodeMirror with prism  */
.CodeMirror {
  font-size: var(--code-fs) !important;
}

#sapper {
  height: 100%;
  display: flex;
  flex-flow: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

a {
  color: inherit;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}
